@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.pixel-font {
  font-family: 'PixelifySans', sans-serif;
 
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 3px),
    3px calc(100% - 3px),
    3px 100%,
    calc(100% - 3px) 100%,
    calc(100% - 3px) calc(100% - 3px),
    100% calc(100% - 3px),
    100% 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 0px,
    3px 0px,
    3px 3px,
    0px 3px
  );
}

.pixel-corners-v1 {
  clip-path: polygon(
    0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px
  );
}

/* Remove number input arrows in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
.no-spinner {
  -moz-appearance: textfield;
}